/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  /* Container for the entire page */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    height: 100vh;
    gap: 20px; /* Adds space between sections */
  }
  
  /* Left section (Camera and Question) */
  .left-section {
    flex: 1;
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 1rem;
    padding: 1rem 0;
    padding-top: 6rem;
    max-width: 600px;
  }
  
  /* Right section (Feedback) */
  .right-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1rem 0;
    flex: 1;
    max-width: 40rem;
    padding-top: 6rem;
  }
  
  /* Section styling */
  .section-1 {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    height: fit-content;
    width: 50rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .section-2 {
    text-align: right;
    font-size: 18px;
    color: #333;
    background-color: #f9f9f9;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 50.3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .section-3 {
    font-size: 18px;
    color: #333;
    background-color: #f9f9f9;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 39rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .section-4 {
    font-size: 18px;
    color: #333;
    background-color: #f9f9f9;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 39rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Video feed styling */
  .video {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
  }
  
  /* Question display styling */
  .question {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 0.5rem;
    height: 7.5rem;
  }

  span {
    margin: 0.5rem;
  }
  
  /* Feedback list styling */
  .feedback-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Feedback item styling */
  .feedback-item {
    background-color: #e3f2fd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #90caf9;
    font-size: 14px;
  }

  button {
    background-color: #007AFF;
    color: white;
    border: none;
    font-size: 0.9rem;
    font-family: Poppins;
    font-weight: 600;
    padding: 0.1rem 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    cursor: pointer;
  }