.Navbar {
  display: grid;
  align-items: center;
  position: fixed;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  padding: 1rem;

  .title {
    font-weight: 500;
    margin-left: 2rem;
  }
  
  .links {
    text-align: right;
    margin-right: 4rem;

    a {
      font-weight: 400;
      margin-left: 6rem;
      font-size: 1.5rem;
      color: #1E1E1E;
      text-decoration: none;
    }

    .login {
      color: #007AFF;
    }
  }
}
